* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0.4), rgba(0, 0, 0.4));
  background-position: center;
  background-size: center;
}
.navigate-bar {
  width: 90%;
  padding: 20px 8%;
  top: 0;
  left: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}
.navigate-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 20px;
}
.navigate-bar ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 15px;
}
.content {
  text-align: center;
}
.content h1 {
  font-size: 90px;
  color: #fff;
  font-weight: 800;
  margin-top: 80px;
}
.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}
li a:hover {
  background: white;
  transition: 0.5s;
}
.navigate-bar a:hover {
  color: black;
}
button:hover {
  color: #fff;
  background: rgb(73, 110, 202);
  transition: 0.5s;
}
button {
  width: 200px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
